@model List<Veiculo>

@{
    ViewData["Title"] = "Concessionaria";
}
<div class="row">
    <div class="text-center">
        <h1>Lista de Veículos</h1>   
    </div>
</div>  
<div id="vehicle-list"></div>
<div class="row">
    <div class="text-end">
        <button id="btn-add-vehicle" class="btn-add">+</button>
    </div>    
</div>



